<h1>Add a product</h1>

<form (ngSubmit)="createData()" class="d-flex flex-column ">
  <div class="form-group">
    <input
      placeholder="Name of product"
      type="text"
      name="name"
      class="form-control my-2"
      [(ngModel)]="product.name"
    />
  </div>
  <div class="form-group">
    <input
      placeholder="Description (30 characters max)"
      type="text"
      name="description"
      class="form-control my-2"
      [(ngModel)]="product.description"
    />
  </div>
  <div class="form-group">
    <input
      placeholder="Price"
      type="number"
      name="price"
      class="form-control my-2"
      [(ngModel)]="product.price"
    />
  </div>
  <div class="form-group">
    <input
      placeholder="Image(URL)"
      type="text"
      name="img"
      class="form-control my-2"
      [(ngModel)]="product.img"
    />
  </div>
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <div class="d-flex justify-content-evenly">
    <button [disabled]="isDisabled" class="btn btn-primary w-25" type="submit">Add Product</button>
    <button class="btn btn-dark w-25" type="reset">Reset</button>
    <button class="btn btn-danger w-25" routerLink="/products">Cancel</button>
  </div>
</form>
