<div class="d-flex flex-column align-items-center">
<h3>Add a product</h3>
<form (ngSubmit)="createData()" [formGroup]="addProductForm"
      class="d-flex flex-column col-lg-7 col-12 gap-3 form-container">
  <div class="form-group">
    <input
      formControlName="name"
      placeholder="Name of product *"
      type="text"
      name="name"
      class="form-control mt-2"
      [ngClass]="
      !addProductForm.get('name').valid && addProductForm.get('name').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!addProductForm.get('name').valid
    && addProductForm.get('name').touched">
      Name of product is required and needs to be provided in English
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="description"
      placeholder="Description *"
      type="text"
      name="description"
      class="form-control mt-2"
      [ngClass]="
      !addProductForm.get('description').valid && addProductForm.get('description').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!addProductForm.get('description').valid
    && addProductForm.get('description').touched">
      Description is required
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="price"
      placeholder="Price *"
      type="number"
      name="price"
      class="form-control mt-2"
      [ngClass]="
      !addProductForm.get('price').valid && addProductForm.get('price').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!addProductForm.get('price').valid
    && addProductForm.get('price').touched">
      Price of product is required and needs to be provided in numbers
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="img"
      placeholder="Image(URL)"
      type="text"
      name="img"
      class="form-control mt-2"
    />
  </div>
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <div class="d-flex justify-content-evenly">
    <button [disabled]="isDisabled" class="button-layout bg-green col-3" type="submit">Add</button>
    <button class="button-layout bg-light-grey col-3" type="reset">Reset</button>
    <button class="button-layout bg-red col-3" routerLink="/products">Cancel</button>
  </div>
</form>
</div>
