<h1>Add a product</h1>

<form (ngSubmit)="createData()" class="d-flex flex-column ">
  <div class="form-group">
    <label for="name">Name of product:</label>
    <input
      type="text"
      name="name"
      class="form-control"
      [(ngModel)]="product.name"
    />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input
      type="text"
      name="description"
      class="form-control"
      [(ngModel)]="product.description"
    />
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input
      type="number"
      name="price"
      class="form-control"
      [(ngModel)]="product.price"
    />
  </div>
  <div class="form-group">
    <label for="img">Image(URL):</label>
    <input
      type="text"
      name="img"
      class="form-control"
      [(ngModel)]="product.img"
    />
  </div>
  <br/>
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <br/>
  <div class="d-flex justify-content-evenly">
    <button class="btn btn-primary w-25">Add Product</button>
    <button class="btn btn-dark w-25" type="reset">Reset</button>
    <a class="btn btn-danger w-25" routerLink="/products"
    >Cancel</a
    >
  </div>
</form>
