<div class="container">
  <div class="row">
    <div>
      <input
        type="text"
        (input)="search($event)"
        placeholder="Search product..."
        class="w-100 form-control form-control-lg"
      />
    </div>
  </div>
  <br />
  <lib-toastify-toast-container></lib-toastify-toast-container>

  <button class="btn btn-primary w-100" routerLink="/add-product">
    Add a product
  </button>
</div>
<br />
<div class="d-flex flex-wrap justify-content-evenly">
  <div *ngFor="let product of products">
    <div class="card bg-light m-1" style="width: 15rem">
      <img
        src="{{ product.img }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price }}$</p>

        <div class="d-flex justify-content-evenly">
          <button class="btn btn-danger" (click)="deleteData(product.id)">
            Delete
          </button>
          <button class="btn btn-primary" (click)="goToEdit(product.id)">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
