<div class="container mb-3">
  <div class="row">
    <div>
      <input #searchInput type="text" (input)="search(searchInput.value)" placeholder="Search product..."
             class="w-100 form-control form-control-lg mt-4 mb-2"/>
    </div>
  </div>
  <button *ngIf="userType === '1'" class="bi bi-plus-circle-fill btn btn-primary w-100" routerLink="/add-product">Add a
    product
  </button>
</div>

<app-data-card [data]="products"></app-data-card>
<lib-toastify-toast-container></lib-toastify-toast-container>
