<h1>Reset your password</h1>
<p>Enter your new password</p>
<form>
  <div class="form-group">
    <div class="input-group">
    <span class="input-group-text btn-sm" id="basic-addon1">
      <i class="text-primary"
         [ngClass]="this.isPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
         (click)="setPasswordVisibility()"></i>
    </span>
      <input name="password"
             [type]="this.isPasswordVisible ? 'text' : 'password'"
             class="form-control"
             placeholder="Password"
             aria-label="Password"
             aria-describedby="basic-addon1"
             [(ngModel)]="user.password">
    </div>
    <br>
    <div class="input-group">
    <span class="input-group-text btn-sm" id="basic-addon2">
      <i class="text-primary"
         [ngClass]="this.isPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
         (click)="setPasswordVisibility()"></i>
    </span>
      <input name="password"
             [type]="this.isPasswordVisible ? 'text' : 'password'"
             class="form-control"
             placeholder="Confirm password"
             aria-label="Password"
             aria-describedby="basic-addon2"
             [(ngModel)]="user.password_confirmation">
    </div>
  </div>

  <br />
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <br />
  <div class="d-flex justify-content-evenly">
    <button class="btn btn-primary col-3" (click)="resetPassword(user.password)">Send</button>
    <button class="btn btn-dark col-3" type="reset">Reset</button>
    <a class="btn btn-danger col-3" routerLink="/home">Cancel</a>
  </div>
</form>
