<div class="d-flex flex-column align-items-center">
<h3 class="mb-2">Sign up</h3>
<form class="d-flex flex-column col-lg-7 col-12 form-container" (ngSubmit)="createUser()" [formGroup]="signUpForm">
  <div class="form-group">
    <input
      placeholder="Name *"
      type="text"
      name="name"
      class="form-control my-2"
      formControlName="name"
      [ngClass]="
      !signUpForm.get('name').valid && signUpForm.get('name').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger" *ngIf="!signUpForm.get('name').valid
    && signUpForm.get('name').touched">
      Name has to be provided in English characters only
    </small>
  </div>
  <div class="form-group">
    <input
      placeholder="Email *"
      type="text"
      name="email"
      class="form-control my-2"
      formControlName="email"
      [ngClass]="
      !signUpForm.get('email').valid && signUpForm.get('email').touched
       ? 'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger" *ngIf="!signUpForm.get('email').valid
    && signUpForm.get('email').touched">
      You have entered an invalid email address
    </small>
  </div>
  <div class="form-group my-2">
    <div class="input-group">
    <span class="input-group-text btn-sm" id="basic-addon1" (click)="setPasswordVisibility()">
      <i class="text-primary"
         [ngClass]="this.isPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
    </span>
      <input name="password"
             [type]="this.isPasswordVisible ? 'text' : 'password'"
             [ngClass]="!signUpForm.get('password').valid
             && signUpForm.get('password').touched
             ? 'bg-danger border-danger bg-opacity-25' : ''"
             class="form-control"
             placeholder="Password *"
             aria-label="Password"
             aria-describedby="basic-addon1"
             formControlName="password">
    </div>
    <small class="text-danger" *ngIf="!signUpForm.get('password').valid
    && signUpForm.get('password').touched">
      Password has to be at least 8 characters long and has to contain
      at least 1 uppercase letter, lowercase letter, a number and a spacial sign.
    </small>
    <div class="input-group my-2">
    <span class="input-group-text btn-sm" id="basic-addon2" (click)="setPasswordVisibility()">
      <i class="text-primary"
         [ngClass]="this.isPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
      ></i>
    </span>
      <input name="password"
             [type]="this.isPasswordVisible ? 'text' : 'password'"
             [ngClass]="!signUpForm.get('password_confirmation').valid
              && signUpForm.get('password_confirmation').touched
              ? 'bg-danger border-danger bg-opacity-25' : ''"
             class="form-control"
             placeholder="Confirm password *"
             aria-label="Password"
             aria-describedby="basic-addon2"
             formControlName="password_confirmation">
    </div>
    <small class="text-danger" *ngIf="!signUpForm.get('password_confirmation').valid
    && signUpForm.get('password_confirmation').touched">
      Password has to be at least 8 characters long and has to contain
      at least 1 uppercase letter, lowercase letter, a number and a spacial sign.
    </small>
  </div>

  <small *ngIf="askIfForgot" class="link-primary mt-1 pointer" routerLink="/reset-password">Forgot Password?</small>

  <div class="form-group my-3">
    <input
      type="checkbox"
      name="is_admin"
      formControlName="is_admin"
    />
    <label class="mx-2 f-14">Check to register as an Admin</label>
    <br>
    <small class="link-primary pointer" routerLink="/login">Already have an account?</small>
  </div>
  <div class="d-flex justify-content-evenly">
    <button class="bg-green col-3 button-layout text-nowrap" type="submit">Sign up</button>
    <button class="bg-light-grey col-3 button-layout" type="reset">Reset</button>
    <a class="bg-red col-3 button-layout" routerLink="/home">Cancel</a>
  </div>
</form>
  <lib-toastify-toast-container></lib-toastify-toast-container>
</div>
