<div class="d-flex flex-column align-items-center">
<h3>Edit a product</h3>
<form class="d-flex flex-column w-75 gap-3"
      style="background-color: #fafffe; padding: 20px; border-radius: 20px; box-shadow: 0px 15px 29px 0px #DBDBDB;"
      (ngSubmit)="editData()" [formGroup]="editProductForm">
  <div class="form-group">
    <input
      formControlName="name"
      placeholder="Name of product *"
      type="text"
      name="name"
      class="form-control mt-2"
      [ngClass]="
      !editProductForm.get('name').valid && editProductForm.get('name').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!editProductForm.get('name').valid
    && editProductForm.get('name').touched">
      Name of product is required and needs to be provided in English
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="description"
      placeholder="Description *"
      type="text"
      name="description"
      class="form-control mt-2"
      [ngClass]="
      !editProductForm.get('description').valid && editProductForm.get('description').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!editProductForm.get('description').valid
    && editProductForm.get('description').touched">
      Description is required
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="price"
      placeholder="Price *"
      type="number"
      name="price"
      class="form-control mt-2"
      [ngClass]="
      !editProductForm.get('price').valid && editProductForm.get('price').touched ?
       'bg-danger border-danger bg-opacity-25' : ''"
    />
    <small class="text-danger input-error" *ngIf="!editProductForm.get('price').valid
    && editProductForm.get('price').touched">
      Price of product is required and needs to be provided in numbers
    </small>
  </div>
  <div class="form-group">
    <input
      formControlName="img"
      placeholder="Image(URL)"
      type="text"
      name="img"
      class="form-control mt-2"
    />
  </div>
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <div class="d-flex justify-content-evenly">
    <button [disabled]="isDisabled" class="btn btn-primary w-25" type="submit">Submit</button>
    <button class="btn btn-dark w-25" type="reset">Reset</button>
    <button class="btn btn-danger w-25" routerLink="/products">Cancel</button>
  </div>
</form>
</div>
