<body style="direction: rtl;" class="text-end">
<h1>אפיון פרוייקט:</h1>

<p style="color: darkcyan"><i>למידה עצמית היא סקיל מאוד מרכזי במקצוע שלנו, ראוי להשתמש בו ככל האפשר במהלך הפרויקט. עם זאת,
  חשבו את הזמנים מראש (עוד סקיל חשוב במקצוע שלנו) וראו לסיים את הפרויקט ולהגישו בזמן. השתדלו לא
  להיגרר ללימוד ויישום עוד ועוד נושאים אם זה יפריע לכם להגיש את הפרויקט בזמן.
  נדרשת השקעה של כ 120 שעות פיתוח ויש עד 3 חודשים להגשה, המרצה/ הרכזות יגדירו לכם את תאריך
  ההגשה
  לטובת הפרויקט תבנה אתר צד לקוח עם צד שרת תומך בנושא שתבחר.
  על הפרויקט להיראות כמו אתר/ אפליקציה אמיתית עם תמונות ותוכן טקסטואלי שלא כוללים איפסום לורם
  וכדומה. כמו כן הפרויקט צריך להיות רספונסיבי ומתאים לכל גדלי המסך האפשריים.</i></p>
<br>

<h3>דרישות כלליות:</h3>

<br>

  <li> יש לשמור על קוד נקי ומסודר: לנקות log.console וקטעי קוד שהפכו להערות.</li>
  <li> מומלץ לבנות קוד שמספר סיפור ולתת לפונקציות ולמשתנים שמות משמעותיים.</li>
  <li> יש לחלק את הפרויקט למודולים לפי נושאים</li>
  <li> יש לשים את כל הקשור לעיצוב בקבצי css ,את התמונות בתיקיית images וכו'.</li>
  <li> כמו כן יש להקפיד על המוסכמות לכתיבת קוד.</li>
  <li> עיצוב הוא חלק בלתי נפרד מהצגת הפרויקט והיכולות של הפיתוח. גם אם אינך מעצב באופי,
    הקפד על עיצוב נקי ורספוניסבי לגדלים שונים של מסכים!
  </li>
  <li> חשוב לזכור שפרויקט זה יהיה חלק מתיק העבודות שלכם וייצג אותך בכבוד מול מעסיקים פוטנציאליים
  </li>
  ולכן יש לשמור על אסתטיקה של קוד ועיצוב.

<br>
<br>


  <h3>דרישות טכנולוגיות צד לקוח:</h3>

<br>

<li> עיצוב ורספונסיביות מומלץ להשתמש בספריית bootstrap או Design Material</li>
<li> קובץ העיצוב הראשי אם קובץ העיצוב (css (הוא מעל 100 שורות, יש לחלק אותו לקבצים
  נפרדים לפי הנושאים השונים. לצורך העניין מומלץ להשתמש בספריית scss</li>
<li> אייקונים מומלץ להשתמש באייקונים לדוגמה מספריית fontawsom או material google</li>
<li> דף כניסה צריך לכלול כותרת ראשית, כותרת משנית, טקסט תמונה שיתאמו לאופי האתר/
  האפליקציה. אם מדובר באתר של חנות אינטרנטית כלשהי, יש להציג בדף הפתיחה שדה
  חיפוש ולפחות שלושה כרטיסי מוצר. מדף הפתיחה צריך להיות ברור לאיזה סוג של אתר/
  אפליקציה הגענו וצריך להיות מעוצב בצורה כזאת שתזמין את הגולש להירשם.</li>
<li> תפריט ניווט על האתר/ אפליקציה להכיל תפריט ניווט דינאמי שמשותף לכל דפי האתר</li>
<li> Footer על האתר / אפליקציה להכיל footer עם לוגו, זכויות יוצרים ואמצעי ליצור קשר עם
  האתר. במידת הצורך ניתן להוסיף גם בתפריט הניווט, קישורים למדיה חברתית או כל דבר אחר
  שיתאים לאזור זה באפליקציה/ אתר</li>
<li> נגישות יש לשים את שם האפליקציה בתגית ה – title בקובץ ה – index הראשי, וכן תמונה/
  לוגו ב– favicon:link .כל תמונה חייבת לכלול את האטריבוט alt עם כיתוב שיתאר את
  התמונה.</li>

<br>

<h3>דף אודות</h3>
<br>

<li> יש ליצור דף אודות בו תספקו הסבר מעמיק על האתר ודרך ההתממשקות עמו.</li>
<li> הירשמות והתחברות על ממשק צד לקוח להציג דף התחברות ודף הרשמה הכוללים וולידציות
  על שדות הטפסים השונים. צריך להיות חיווי מתחת לשדה הרלוונטי אם המשתמש עומד או לא
  עומד בדרישות השדה או תוך כדי ההקלדה או change focus on לשדה אחר. יש לאפשר
  שליחה של טופס אך ורק לאחר שכל שדות החובה מלאים. בלחיצה על כפתור השלח בטופס, יש
  לעדכן את הגולש בהצלחה או כישלון שליחת הנתונים. כדי להשתמש לצורך העניין בספריית
  tostify-react או בספרייה דומה. מומלץ לאפשר התחברות גם באמצעות חשבון ,Google
  Fasebook וכו.</li>
<li> Regex יש להשתמש ב – regex לשדה הסיסמה בטפסים, שיחייב הכנסת סיסמה עם לפחות
  אות אחת גדולה ואות אחת קטנה באנגלית, לפחות ארבעה מספרים ולפחות סימן מיוחד מבין
  הסימנים הבאים (!@#$%^&*-_*) ושכל הסיסמה תהיה לפחות בת 8 תווים. כמו כן יש
  להשתמש ב -regex לשדה של טלפון שיחייב הכנסת מס' טלפון תקני אם אפשרות לרווח או
  מקף אמצעי (-) לאחר שנים או שלושת המספרים הראשונים. וכן regex על שדה המייל שיחייב
  הכנסת מייל תקני. יש אפשרות ליצור פונקציות בצד שרת לצורך העניין או להשתמש בספריית
  .jio-browser</li>
<li> Token לאחר התחברות יש ליצור token עם ערך מוצפן תוך שימוש בספריית jwt .ה - token
  צריך להישמר ב – localStorage ולעזור בקביעת סטאטוס המשתמש ואם הוא מחובר או לא.
  רק בתוך ה - token יכולים להיות פרטים על הלקוח באופן מוצפן.</li>
<li> עדכון סיסמה יש ליצור דף שיאפשר למשתמש ששכח את הסיסמה שלו להחליף סיסמה וזאת
  רק לאחר וידוא שאכן מדובר במשתמש שמנסה לשנות את סיסמתו ולא האקר. לצורך העניין
  מומלץ לשלוח מייל למשתמש עם לינק לדף לשינוי הסיסמה.</li>
<li> Crud לאחר התחברות יש לאפשר למשתמש את פעולות ה – crud ,קרי: קריאה, יצירה, עדכון
  ומחיקה של תוכן. התוכן שיוצרים צריך להיות זמין בחלקים שונים של האתר. לדוגמה אם מדובר
  בחנות אינטרנטית, לאחר שמוסיפים מוצר הוא צריך להופיע בדף הראשי או בדף מוצרים. יש
  להשתמש בספריית tostify-react או בספרייה דומה, כדי לעדכן את הגולש בהצלחה/ כישלון
  ביצוע פעולות ה – crud.</li>
<li> מועדפים/ הכנסה לסל קניות יש לתת אפשרות לגולש לשמור תוכן (כרטיס/ מוצר/משתמש וכ"ו)
  במועדפים. יש לתת חיווי ויזואלי לכך שהתוכן הוא מועדף על ידי הגולש. יש לשמור את העדפות
  הלקוח ברשומת התוכן במאגר המידע כך שלא משנה מאיזה מכשיר המשתמש ייכנס לאתר/
  אפליקציה התוכן שהוא העדיף ימשיך להיות מועדף. יש ליצור דף של תוכן מועדף, בו הגולש
  יוכל לראות את כל הפרטים שהוא סימן כמועדפים ואם ירצה יוכל ולהסיר מהדף פריטים
  מועדפים</li>
<li> דף פרטי תוכן בלחיצה על כרטיס/ משתמש/ תוכן, הגולש יעבור לדף דינאמי בו יינתנו פרטים
  נוספים על פריט התוכן עליו לחץ הגולש</li>
<li> שדה חיפוש יש ליצור שדה חיפוש לתוכן (כרטיס/ מוצר/משתמש וכ"ו)</li>
<li> הרשאות יש לאפשר יצירה של לפחות שני סוגי משתמשים, כאשר הראשון הוא משתמש רגיל
  והשני הוא admin .רק משתמש שמוגדר כ – admin יוכל ליצור, לערוך ולמחוק תוכן, בעוד
  שמשתמש רגיל יוכל רק לראות או לסמן תוכן כמועדף עליו.</li>
<li> קריאות http יש לבצע קריאות http לצד שרת מצד לקוח ובאמצעותם ולשלוח ולקבל מידע
  מהשרת. מומלץ להשתמש לצורך כך ספריית axios .יש להשתמש במנגנון catch & try
  בקריאות אסינכרוניות לצד שרת במקרה ומשתמשים בפונקציות אסינכרוניות, או לחליפים
  במנגנון ()catch().then .עם בוחרים להשתמש ב - promises וזאת על מנת שהקוד לא יישבר
במקרה ותחזור שגיאה קריטית מהשרת.
</li>
<br>


<li> ארכיטקטורה יש לשמור על סדר הגיוני ומקובל בתעשייה של קבצים. יש להשתמש בתיקיית
  services ,על הקוד להיות נקי וקריא, עם חלוקה נכונה לתיקיות וקומפוננטות.</li>
<li> Console יש להקפיד על עבודה נכונה עם ה – console .על הקונסול להיות נקי מהערות
  אזהרה, שגיאות ותוכן, כך שיהיה ניתן לראות בקלות שגיאות קריטיות מהשרת.</li>
<li> סינון תוכן יש לתת לגולש אפשרות לסנן את התוכן המוצג בדף מסוים לפי פרמטרים שונים
  בונוס לצד לקוח</li>
<li> Logout יש לאפשר לאפליקציה/ אתר לנתק את המשתמש במידה ולא השתמש באתר/
  אפליקציה במשך יותר מ -4 שעות</li>
<li> הגבלת בקשות יש להגביל את מספר הקריאות לשרת שמשתמש יכול לבצע ב – 24 שעות
  לצורך הגנה על השרת ממתקפה שנועדה להאט/ להקריס אותו.</li>
<li> ממשק ניהול משתמשים דף ניהול משתמשים שיציג את מספר המשתמשים הרשומים במאגר
  המידע באתר ויציג בטבלה את פרטיהם. בדף זה יהיה ניתן למחוק משתמשים או לשנות את
  הסטאטוס שלהם ממשתמש רגיל admin.</li>
<li> ניהול הזמנות/ מועדפים דף שיראה לאדמין את התוכן לפי כמות האנשים שהגדירו את אותו
  התוכן כמועדף עליהם.</li>
<li> ניהול מלאי במקרה של חנות אינטרנטית, דף לניהול מלאי של חנות. וברגע שמוצר מסוים נגמר
  מהמלאי יש לתת חיווי לגולש על כך שהמוצר אזל.</li>
<li> תמונת פרופיל משתמש עדכון פרטי משתמש עם תמונת פרופיל שתועלה לתוך תיקייה
  במחשב עליו נמצא הפרויקט</li>
<br>


<h3>דרישות טכנולוגיות צד שרת:</h3>
<br>

<li>,nodemon את devDependencies – ב לשים יש package.json בקובץ package.json
  וכן שיהיה בתוך מפתח ה - "main "עם שם הקובץ להפעלת האפליקציה.</li>
<li> האזנה לבקשות HTTP יש לבנות ממשק api rest שמאפשר קבלת בקשות, ליצירה, עריכה,
  הצגה ומחיקת מידע ממאגר המידע בהתאם לבקשות צד לקוח. לצורך העניין מומלץ להשתמש
  בספריית express</li>
<li> אותנטיקציה יש להעביר את הבקשה תהליך של אותנטיקציה על מנת לוודא שאכן הגולש הוא
  זה ששלח את הבקשה ולא האקר שמנסה לפרוץ למאגר המידע דרך השרת.</li>
<li> אותוריזציה יש לאפשר בצד שרת רק למשתמש מחובר ומוגדר כ – admin לבצע הוספה,
  מחיקה או עריכה של מידע ממאגר המידע.</li>
<li> מאגר מידע את המידע בפרויקט יש לשמור בבסיס הנתונים MongoDB או mySql בצורה
  לוקלית או על ענן. כמו כן יש לאפשר הוספה, עריכה ומחיקה של פרטים ממאגר המידע. בקובץ
  שאתם מגישים חייב להיות קובץ ה – config במידה ושמרתם בו את המפתחות להתחברות עם
  שרת הענן</li>
<li> ולידציות צד שרת יש לעשות ולידציות צד שרת עם ספריית joi או ספרייה דומה, ובמקרה של
  שגיאות יש ולעצור את הפונקציות בטרם שליחת האובייקט לוולידציה של mongoos ושמירה
  במאגר המידע.</li>

<li> Models & Routes יש לחלק את הקוד למודולים לשמור על קוד נקי וקריא</li>
<li> Logger יש להשתמש ב ספרייה לניהול בקשות http כדוגמת morgan או לחליפין ליצור
  logger משלכם שידפיס בקונסול קריאות מצד לקוח לצד שרת</li>
<li> הערות על שמות המשתנים והפונקציות להיות הגיוניים ושיספרו סיפור על הקוד. במידת הצורך
  יש להוסיף הערות תמציתיות למתכנתים במידה ויש פונקציות מורכבות או שיש דף עם ריבוי
  פונקציות בתוכו.</li>
<br>


<h4>הערה כללית</h4>
<h5>לא ניתן להגיש פרויקט סוף מודול כפרויקט גמר</h5>
<br>


<p>אופן הגשת הפרויקט:
  את הפרויקט יש להעלות ל – git ללא תיקיות ה – modules_node ,ולשלוח במייל נפרד קובץ ספר
  פרויקט/ מסמך אפיון שיכלול קובץ טקסט ReadMe שמסביר על הפרויקט, תכולתו, הפונקציונאליות
  ודרך ההתממשקות עמו. אם יש קבצי env .או config עם פרטים אישיים יש לצרף גם אותם למייל,
  אחרת יש להעלות אותם ל – git .יש לרשום במייל שם מלא של התלמיד, שם הקורס, מספר הקורס
  ומס' טלפון שניתן להשיג את הסטודנט בעזרתו.</p>
</body>
