<h1>Welcome to my task</h1>

<p>
  Angular as Client Side. Php + Laravel as Backend - Restful Api. MySQL as
  Database
</p>

<p>
  Deliver code with GIT Attach a README.md file with installation and migration
  instructions.
</p>

<h2>Task:</h2>

<h5>
  1. Create CRUD (Create Read Update Delete) Using Angular as SPA client side,
  create CRUD table: you can use any kind of object like: games, dogs, beers.
</h5>
<h5>*Each object needs to have at least 3 properties.</h5>

<ul>
  <li>table that lists the objects.</li>
  <li>form to create objects.</li>
  <li>Button to delete object.</li>
  <li>form to update object - use Reactive Forms.</li>
</ul>
<h5>2. Implement an autocomplete search input with server side search.</h5>
