<h1>Reset your password</h1>
<p>Enter your e-mail address below and a reset password link will be deliver to your inbox.</p>
<form (ngSubmit)="sendResetPasswordEmail(userEmail)">
  <div class="form-group">
    <label>Email:</label>
    <input
      type="text"
      name="description"
      class="form-control"
      [(ngModel)]="userEmail"
    />
  </div>

  <br />
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <br />
  <div class="d-flex justify-content-evenly">
    <button class="btn btn-primary col-3">Send</button>
    <button class="btn btn-dark col-3" type="reset">Reset</button>
    <a class="btn btn-danger col-3" routerLink="/home">Cancel</a>
  </div>
</form>

