<div class="d-flex flex-column align-items-center">

<h3>Reset your password</h3>
<small class="text-center">Enter your e-mail address below and a reset password link will be delivered to your inbox.</small>
<form class="d-flex flex-column col-lg-7 col-12 form-container" (ngSubmit)="sendResetPasswordEmail(userEmail)">
  <div class="form-group">
    <input
      placeholder="Email"
      type="text"
      name="email"
      class="form-control"
      [(ngModel)]="userEmail"
    />
  </div>

  <br />
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <br />
  <div class="d-flex justify-content-evenly">
    <button class="button-layout bg-green col-3 f-sm-10 f-md-14" type="submit"
    [disabled]="isDisabled">Send</button>
    <button class="button-layout bg-light-grey col-3 f-sm-10 f-md-14" type="reset">Reset</button>
    <button class="button-layout bg-red col-3 f-sm-10 f-md-14" routerLink="/home">Cancel</button>
  </div>

  <p *ngIf="isDisabled" class="w-100 text-center mt-3 f-12">You can send it again withing {{seconds}} seconds.</p>

</form>
</div>
