<div class="d-flex flex-column align-items-center">

<h3>Reset your password</h3>
<small>Enter your e-mail address below and a reset password link will be delivered to your inbox.</small>
<form style="background-color: #fafffe; padding: 20px; border-radius: 20px; box-shadow: 0px 15px 29px 0px #DBDBDB;"
      class="d-flex flex-column w-50" (ngSubmit)="sendResetPasswordEmail(userEmail)">
  <div class="form-group">
    <input
      placeholder="Email"
      type="text"
      name="description"
      class="form-control"
      [(ngModel)]="userEmail"
    />
  </div>

  <br />
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <br />
  <div class="d-flex justify-content-evenly">
    <button class="btn btn-primary col-3" type="submit">Send</button>
    <button class="btn btn-dark col-3" type="reset">Reset</button>
    <button class="btn btn-danger col-3" routerLink="/home">Cancel</button>
  </div>
</form>
</div>
